

<div class="row">
	<div class="col-md-3" style="height=400px;"></div>
  	<div class="col-md-3" style="background-color:gray; height:400px;"></div>
  	<div class="col-md-3" style="height:400px;"></div>
	<div class="col-md-3" style="background-color:gray; height:400px;"></div>
</div>

